.feed {
  padding: 0 5px 30px;
  max-width: 700px;
  width: 100%;
  h3 {
    margin-bottom: 20px;
  }
  > div:not([class='postCreate']) {
    margin-bottom: 17px;
  }
}

.myFeed {
  @media (max-width: 767px) {
    margin: auto;
    h3 {
      display: none;
    }
  }
}
