.needForm {
  // input[type="date"]:before {
  //   content: attr(placeholder) !important;
  //   color: #aaa;
  //   margin-right: 0.5em;
  // }
  // input[type="date"]:focus:before,
  // input[type="date"]:valid:before {
  //   content: "";
	// }
	// input#end_date {
	// 	@media(max-width:767px) {
	// 		margin-top:12px;
	// 	}
	// }

  #content{
		margin-top:25px;
		@media(max-width:767px) {
			margin-top:12px;
		}
  }
  .actionBar{
		margin: 25px 0 10px;
		@media(max-width:767px) {
			margin: 10px 0 10px;
		}
    text-align: center;

    button{
			margin: 10px 15px 0;
    }
	}
	.inputUrgent {
		@media(min-width:768px) {
			justify-content: flex-end !important;
		}
	}
	.isUrgent {
		@media(max-width:767px) {
			margin-top: 10px;
		}
    label {
			width: 200px;
			height: 38px;
      border-radius: 3px;
      border: 1px solid #D1D3D4;
			font-weight: normal;
			margin-bottom: 0px;
		}
    input[type="checkbox"] {
			&:empty {
				display: none;
        ~ label {
					position: relative;
          line-height: 2.5em;
          text-indent: 3.25em;
          cursor: pointer;
          user-select: none;
          &:before {
						position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 0;
          }
        }
      }
      &:hover:not(:checked) ~ label {
        color: #888;
        &:before {
          content: '\2714';
          text-indent: .9em;
          color: #C2C2C2;
        }
      }

      &:checked ~ label {
        color: #777;
        &:before {
          content: '\2714';
          text-indent: .9em;
          color: #333;
          background-color: #ccc;
        }
      }

      &:focus ~ label:before {
        box-shadow: 0 0 0 3px #999;
      }
      &:checked ~ label:before {
        color: #fff;
        background-color: #f0ad4e;
      }
    }
  }
}