.userProfile {
  padding: 10px 0;
  width: 100%;
  .projectsList {
    margin-bottom: 20px;
  }
  .tab-content {
    padding: 0;
    .tab-pane:not(#news) {
      padding: 0 15px;
      // @media (max-width: 768px) {
      //   padding: 0 10px;
      // }
    }
  }
}
