<mj-text>
  <%= @object.title %> has been unaffiliated from the <%= @metadata[:parent].class.name.downcase %>
  <a href="<%= Rails.configuration.frontend_url + @metadata[:parent].frontend_link %>"><%= @metadata[:parent].title %></a>.
</mj-text>
