<mj-text>
  <a href="<%= Rails.configuration.frontend_url + @notification.cta_link %>"><%= @metadata[:follower].full_name %></a>
  just followed your <%= @object.class.name.downcase %>:
  <a href="<%= Rails.configuration.frontend_url + @object.frontend_link %>"><%= @object.title %></a>.
</mj-text>
<%= render partial: 'cta_button', locals: { text: 'Check it out!' } %>
