<mj-text>
  <a href="<%= Rails.configuration.frontend_url + @object.user.frontend_link %>"><%= @object.user.full_name %></a>
  posted a
  <a href="<%= Rails.configuration.frontend_url + @object.frontend_link %>">new need</a>
  on a
  <a href="<%= Rails.configuration.frontend_url + @object.project.frontend_link %>">project</a>
  you are following.
</mj-text>
<%= render partial: 'cta_button', locals: { text: 'Check it out!' } %>
