<mj-text>
  A new program will soon start on JOGL:
  <a href="<%= Rails.configuration.frontend_url %>/program/<%= @object.short_title %>"><%= @object.title %></a>.
</mj-text>
<%= render partial: 'cta_link' %>
