@import 'pages/custom.scss';

.documentCardFeed {
  text-align: left;
  align-content: center;
  border: 0 !important;
  box-shadow: none;
  padding: 0px !important;
  margin: 5px 0 0;
  word-break: break-word;
  line-height: 20px;

  @media (max-width: 575px) {
    margin: 12px 7px 0 0;
  }

  .card-body {
    padding: 0 15px 0 0;
  }

  svg {
    font-size: 20px;
    color: gray;
    position: absolute;
  }

  a {
    color: gray;
    font-size: 14px;
    margin-left: 28px;
  }

  .hover_img {
    a {
      position: relative;

      span {
        position: absolute;
        display: none;
        z-index: 99;
      }

      &:hover span {
        display: block;

        img {
          border: 5px solid $secondary;
          border-radius: 5px;
        }
      }
    }
  }
}
