// Colors variables

$primary: #2987cd;
$secondary: #eeeeee;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #04de42 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$gray: #ced4da;
$lightgray: #d3d3d3;
$gray-300: #bbbbbb;
$gray-600: #999999;
$gray-dark: #5c5d5d;
$gray-light: #f1f4f8;
