@import 'pages/custom.scss';

body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: 1280px;
  margin: 90px auto 150px;
  @media (max-width: 64em) {
    margin: 80px auto 120px;
  }
}

.small-top-margin {
  max-width: 1280px;
  margin: 65px auto 150px;
  @media (max-width: 64em) {
    margin: 60px auto 120px;
  }
}

.no-margin {
  margin-top: 65px;
}

// @font-face {
//   font-family: 'Bebas Kai';
//   src: url('/fonts/BebasKai.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

.container-fluid {
  max-width: 1280px;
}

button {
  border: none;
  background: none;
}

// add style for when focusing on all elements
*:focus {
  outline: #08f auto 2px !important;
}
// When mouse is detected, remove outline from ALL focused elements.
body.using-mouse *:focus {
  outline: none !important;
}

[data-reach-menu-item] {
  @media (max-width: 1024px) {
    padding: 12px 14px !important;
  }
}

.skip-links {
  transform: translateY(-200%);
  outline: #08f auto 3px !important;
  position: absolute;
  padding: 1rem;
  top: 10px;
  background: #fff;
  font-weight: 700;
  z-index: 1;
}

.skip-links:focus-within {
  transform: translateY(0%);
}

.solid-tooltip {
  max-width: 80vw;
  @media (min-width: 981px) {
    width: 450px;
  }
  background: black;
  color: white;
  opacity: 1 !important;
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
  }
}

.btn {
  // @TOFIX, better manage bootstrap and custom colors
  &-secondary {
    background: #eee !important;
    border: #eee !important;
    color: #212529 !important;
  }

  &-primary {
    background: #eee !important;
    background-color: $primary !important;
    border-color: $primary !important;

    &:hover {
      background-color: #2372ad !important;
      border-color: #216ba3 !important;
    }
  }
  // &:focus,
  // &.focus {
  //   box-shadow: none !important;
  //   outline: -webkit-focus-ring-color auto 1px !important;
  // }

  &:disabled {
    cursor: default;
  }

  svg {
    font-size: 20px;
  }
}

.btn-big {
  padding: 10px 20px;
}

.btn-lg,
.btn-md {
  margin-bottom: 5px;
  margin-left: 0;
}

.btn-outline-primary {
  border: 1px solid $primary !important;
  color: $primary;
  background-color: transparent;

  &:hover {
    background-color: $primary !important;
    color: white;
    opacity: 0.8;
  }
}

.list-filter .btn {
  margin: 0px;
}

.btn-action {
  font-size: 0.8em;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5px;
  box-shadow: 1px 2px 8px rgba($color: #000000, $alpha: 0.2);
}

.btn-card {
  width: 100%;
}

.btn-home {
  height: 48px;
  min-width: 120px;
}

.cc-window.cc-invisible {
  // opacity: 1;
  // display: block!important;
}

.form-check,
.form-check label {
  cursor: pointer;
}
.form-check.disabled label,
.form-check.disabled input {
  cursor: not-allowed !important;
}

.form-control {
  color: black !important;
}

.btnZone {
  margin-top: 15px;
}

// for Filter.js
.list-filter {
  .dropdown-item {
    cursor: pointer;

    &.active,
    &:hover {
      background: $primary;
      color: white;
    }
  }
}

[data-reach-menu] {
  z-index: 10;
}

// for some reason, some tooltips don't apply style, so we have to force this style to them
.forceTooltipBg {
  background: black;
  color: white;
}

.swal2-container.swal2-bottom-start {
  bottom: 20px !important;
  left: 20px !important;
}
.swal2-popup.swal2-toast {
  box-shadow: 0 0 0.625em #272727 !important;
}
.animate-spin {
  animation: spin 0.7s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.animate-bounce {
  animation: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.75;
    }
  }
}

// Styling of the onboarding process: introJs
.customTooltip {
  background-color: #fff;
  color: $primary;
  width: 350px;
  min-width: none;
  max-width: none;
  @media (max-width: 640px) {
    max-width: 60vw !important; // cannot be less, introjs automatically resize so it is not too thin/vertically long
    margin: 1rem; // cannot be more or the tooltip will not point totally correctly at the element anymore
  }
}

.customTooltip > .introjs-tooltip-header {
  color: #fff;
  padding: 0;
}

.customTooltip > .introjs-tooltiptext {
  padding: 10px 15px;
}

.customTooltip > .introjs-arrow.bottom {
  border-top-color: #fff;
}

.customTooltip > .introjs-arrow.top {
  border-bottom-color: #fff;
}

.customTooltip > .introjs-arrow.left {
  border-right-color: #fff;
}

.customTooltip > .introjs-arrow.right {
  border-left-color: #fff;
}

.customTooltip > .introjs-tooltip-header > a.introjs-skipbutton {
  color: #c8c8c8;
  text-decoration: underline;
  font-size: 16px;
}

.customTooltip > .introjs-tooltipbuttons > .introjs-nextbutton {
  background: $primary;
  border-radius: 10px;
  color: #fff;
  text-shadow: none;
  border: 1px solid $primary;
}

.customTooltip > .introjs-tooltipbuttons > .introjs-prevbutton {
  border-radius: 10px;
  border: 1px solid $primary;
  background: #fff;
  color: $primary;
}

.customTooltip > .introjs-tooltipbuttons > .introjs-nextbutton,
.customTooltip > .introjs-tooltipbuttons > .introjs-nextbutton:active,
.customTooltip > .introjs-tooltipbuttons > .introjs-prevbutton,
.customTooltip > .introjs-tooltipbuttons > .introjs-prevbutton:focus,
.customTooltip > .introjs-tooltipbuttons > .introjs-prevbutton:active {
  outline: none;
  box-shadow: none;
}

.ReactModal__Content {
  border: none;
}

.onBoardingModal,
.createSpaceModal {
  max-width: 35rem !important;
  @media (max-width: 768px) {
    max-width: 80vw !important;
  }
  @media (max-width: 480px) {
    max-width: 90vw !important;
  }
}

.onBoardingModal > div:nth-child(1) {
  background-color: $primary;
  text-align: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.onBoardingModal > div:nth-child(1) > p,
.onBoardingModal > div:nth-child(1) > button > svg {
  color: #fff;
}

.onBoardingModal > div:nth-child(2) > div {
  padding: 2rem;
  font-size: 1.5rem;
}
