<mj-section css-class="body">
  <mj-column>
    <mj-text>
      Hi <strong><%= @to.first_name %></strong>!<br /><br />
    </mj-text>
    <mj-text>
      <a href="<%= Rails.configuration.frontend_url + @invitor.frontend_link %>"><%= @invitor.full_name %></a>
      has invited you to join the <%= @object_type %>: <%= @object.title %>.
    </mj-text>
    <mj-button css-class="button" href="<%= Rails.configuration.frontend_url + @object.frontend_link %>">
      Join now!
    </mj-button>
  </mj-column>
</mj-section>
