@import 'pages/custom.scss';

// Futurely assessing whether to be able to delete this scss,
// know that all bootstrap tabs-related classes were deleted from code:
// nav, nav-tabs, nav-link, tabContainer, tab-content, tab-pane.

.projectDetails,
.challengeDetails,
.communityDetails,
.programDetails,
.userProfile,
.userHeader,
.projectEdit,
.communityEdit,
.challengeEdit,
.programEdit {
  .nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    &.sticky {
      position: sticky;
      top: 75px;
      z-index: 8;
      background: white;
      border: 1px solid lightgray;
    }

    .nav-link,
    .nav-link.active,
    .nav-link:hover {
      border: none !important;
      border-color: none;
      border-bottom-width: 2px !important;
      border-bottom-style: solid !important;
      border-bottom-color: transparent !important;
      color: $gray-dark;
      font-size: 18px;
      font-weight: 500;
      width: fit-content;
      margin-bottom: 0px;
    }

    .nav-link.active,
    .nav-link:hover {
      border-bottom-color: $primary !important;
    }

    a.nav-link {
      color: $gray-dark;
    }
  }

  .tabContainer {
    padding-top: 40px;
    padding-bottom: 50px;

    @media (max-width: 480px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .tab-content {
      .feed {
        margin: auto;
      }
    }
  }

  .deleteBtns .btn-danger {
    margin-left: 0px;
    margin-right: 10px;

    @media (max-width: 480px) {
      margin-bottom: 12px;
    }
  }

  .statsModal,
  .networkModal {
    .modal-dialog {
      margin: 20px auto;
      max-width: 1260px;

      @media (max-width: 1290px) {
        max-width: 90vw;
      }

      @media (max-width: 1100px) {
        max-width: 97vw;
      }

      .card-footer {
        display: none;
      }
    }

    .modal-backdrop {
      /* bug fix - no overlay */
      display: none;
    }

    .modal-content {
      // overflow: scroll;
      max-height: 95vh;
    }

    .close {
      font-size: 1.8rem;
      background: #cfcfcf;
      padding: 5px 11px;
      margin: 2px 0;
      color: #3d3d3d;
      border-radius: 20px;
    }
  }
}

.projectDetails,
.challengeDetails,
.communityDetails,
.programDetails {
  @media (max-width: 768px) {
    padding: 0 !important;
  }

  .tab-content {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .tab-pane:not(#news) {
    padding: 0 15px;
  }
}

.tab-pane#about {
  .interests {
    @media (min-width: 900px) {
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)) !important;
    }
  }
}

.projectDetails {
  .tab-pane#about {
    width: 70%;
    margin: auto;

    @media (max-width: 768px) {
      width: 100%;
    }

    .infoHtml {
      width: 100% !important;
    }

    h4 {
      margin-top: 40px;
      color: #2987cd;
    }
  }
}

.projectEdit {
  .collapseDetailedInfo {
    margin-bottom: 30px;
    margin-top: -5px;
  }
}

.projectEdit,
.communityEdit,
.challengeEdit,
.programEdit {
  .tabContainer {
    @media (max-width: 480px) {
      padding-top: 40px;
    }
  }

  #advanced {
    h5:not(.modal-title) {
      margin-bottom: 20px;
    }

    hr {
      margin: 40px 0 20px;
    }
  }
}

.projectHeader,
.challengeHeader,
.communityHeader,
.programHeader {
  padding: 0 30px;

  .title {
    margin-bottom: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: $gray-dark;
      // font-family: 'Bebas Kai' !important;
      // font-size: 50px;
      font-size: 45px;

      @media (max-width: 768px) {
        font-size: 30px;
      }

      span {
        font-size: 25px;
        line-height: 20px;
      }
    }

    a {
      padding-left: 20px;
    }
  }

  .titleInfo {
    color: #7f8fa4;
    font-size: 15px;
  }

  &--banner {
    display: flex;
    align-self: flex-start;

    @media (max-width: 991px) {
      margin-bottom: 40px;
    }

    div {
      width: 100%;
    }

    img {
      width: 100%;
      max-height: 400px !important;
      margin: auto;
      object-fit: contain;
    }
  }

  &--info {
    .info {
      color: $gray-dark;

      a {
        color: inherit;
        margin-left: 8px;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        font-weight: bold;
      }

      span.status {
        color: $primary;
        margin-left: 8px;
      }

      span.projectNb,
      span.challengetNb,
      span.communityNb,
      span.programNb {
        font-size: 23px;
        margin-right: 4px;
        font-weight: bold;
      }
    }

    .infos span {
      padding-left: 10px;
      color: $gray-300;
    }

    .projectStats,
    .challengeStats,
    .communityStats,
    .programStats {
      .text {
        margin-right: 20px;
        color: #7f8fa4;
        font-size: 15px;
        border-bottom: 1px solid transparent;

        &:hover {
          cursor: pointer;
          text-decoration: none;
          opacity: 0.9;
          border-bottom: 1px solid grey;
        }

        strong {
          font-size: 18px;
          font-weight: 600;
          color: #3a3a3a;
        }
      }
    }

    .challengeStats .text {
      margin-right: 0px; // no margin-right as stats are in 2 different lines
    }

    .zoneBtnActions {
      margin-bottom: 15px;

      .btn {
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
    }

    .infoDefault {
      margin: 20px 0 !important;

      .skill {
        margin-right: 10px;
      }
    }

    .infoInterests {
      padding-bottom: 0 !important;
    }
  }
}

.projectHeader .infoDefault {
  margin: 0 !important;
}

.projectsHeader,
.communitiesHeader,
.challengesHeader,
.programsHeader {
  margin-top: 105px;

  h1 {
    color: $dark;
    font-size: 26px;
    line-height: 36px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .dropdown {
    button {
      background: white;
      color: $gray-dark;
    }
  }

  hr {
    margin: 30px 0 30px;
    border-top: 1px solid $lightgray;
  }
}

.projectHeader,
.communityHeader {
  @media (max-width: 991px) {
    padding: 0px 30px;
    margin-top: 100px;
  }

  @media (max-width: 768px) {
    margin: 100px 0 0 !important;
    padding: 0 !important;
  }

  @media (max-width: 480px) {
    padding: 0px;
    margin-top: 90px;
  }
}

.challengeHeader,
.programHeader {
  padding: 0;
}

.ql-container,
.ql-editor {
  .textarea-emoji-control {
    display: none;
  }

  .ql-mention-list-container {
    min-width: 270px;
    width: fit-content;
  }

  .ql-mention-list-item {
    height: auto;
    line-height: 30px;
    padding: 2px 9px;
  }

  .cql-list-item-inner {
    span {
      font-size: 15px;
      color: $gray-dark;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
    }
  }

  .mention {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .ql-mention-denotation-char {
      display: none;
    }
  }
}

.ql-editor:not(.rendered-quill-content) {
  min-height: 200px;
  max-height: 500px;
}

.projectForm,
.communityForm {
  .publicPrivateToggleMsg {
    margin-top: 25px;
  }
}

.projectFormBtns,
.programFormBtns,
.communityFormBtns,
.challengeFormBtns {
  margin-top: 40px;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}

.userProfileEdit,
.projectEdit,
.communityEdit,
.challengeEdit,
.projectCreate,
.communityCreate,
.challengeCreate,
.programCreate,
.programEdit {
  margin-top: 110px !important;
  width: 75% !important;
  margin: auto;

  @media (max-width: 981px) {
    width: 100% !important;

    h1 {
      font-size: 29px;
    }
  }

  .projectsAttachedList,
  .challengesAttachedList {
    margin-top: 0;

    .btn {
      margin-bottom: 20px;
    }
  }
}

// style for edition only (not creation)
.userProfileCreate,
.projectCreate,
.communityCreate,
.challengeCreate {
  h1 {
    margin-bottom: 30px;
  }
}

.formSkills,
.formResources,
.formDefault,
.formTextArea,
textarea,
.form-group {
  input::placeholder,
  textarea::placeholder {
    color: $gray-300 !important;
  }
}

.projectsSearch,
.challengeSearch,
.communitySearch {
  button {
    margin: 0 0 7px !important;
  }
}
