@import 'pages/custom.scss';

.infoInterests {
  margin-bottom: 15px;
  width: 100%;

  @media (max-width: 480px) {
    margin-bottom: 10px;
  }

  .interests {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    @media (max-width: 700px) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }

  .interest {
    position: relative;
    padding-bottom: 100%;

    &.toggle {
      display: none;
    }
  }

  .less,
  .more {
    color: $primary;
    background: transparent;
    border: 1px solid $primary;
    padding: 2px 5px;
    cursor: pointer;
    height: fit-content;

    &:hover {
      color: white;
      background: $primary;
    }
  }

  .less {
    display: none;
  }
}
