<mj-section css-class="body">
  <mj-column>
    <mj-text>
      Hi <strong><%= @to.first_name %></strong>!<br /><br />
    </mj-text>
    <mj-text>
      <a href="<%= Rails.configuration.frontend_url + @from.frontend_link %>"><%= @from.full_name %></a>
      sent you a message on JOGL.
    </mj-text>
    <mj-spacer height="20px" />
    <mj-divider border-width="1px" />
    <mj-spacer height="20px" />
    <mj-text css-class="left">
      <u>Object</u>: <%= @object %>
    </mj-text>
    <mj-spacer height="20px" />
    <mj-text css-class="left">
      <%= @content %>
    </mj-text>
    <mj-spacer height="20px" />
    <mj-divider border-width="1px" />
    <mj-spacer height="20px" />
    <mj-text>
      To continue the discussion with <%= @from.full_name %>, reply to this email. <br />
      This will send a direct email to <%= @from.full_name %>.
    </mj-text>
    <mj-text>
      If you believe you have received this mail in error, or it looks like spam, please let us know by forwarding it to <a href="mailto:report@jogl.io" style="text-decoration:none;color:#0B5DB9">report@jogl.io</a>
    </mj-text>
  </mj-column>
</mj-section>
