@import 'pages/custom.scss';

footer {
  .footer-top {
    padding: 10px 0 10px;
    background-color: #f8f9fa;
    img {
      width: 140px !important;
      min-width: 140px !important;
      margin-bottom: 20px;
    }
    .footCol {
      margin: 20px 0;
    }
  }
  .footer-bottom {
    padding: 25px 0 20px;
    background-color: #343a40;
    color: #eee;
    p {
      color: #eee;
    }
    &--right {
      display: grid;
      justify-content: flex-end;
      @media (max-width: 577px) {
        justify-content: center;
        margin: 25px 0 10px;
      }
      button {
        margin: auto;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        margin-bottom: 23px;
      }
      a {
        color: #222;
      }
    }
    &--copyright {
      align-self: center;
      @media (max-width: 577px) {
        text-align: center;
      }
      p {
        margin-bottom: 5px;
      }
    }
  }

  .contact {
    button {
      margin-left: 0px;
    }
    p {
      margin-top: 15px;
    }
  }

  .popup {
    display: none;
    .mce-error-response,
    .mce-success-response {
      display: none;
    }
    .formAbsolute {
      position: absolute;
      left: -5000px;
    }
  }
}
