<mjml>
  <mj-head>
    
    <%= render partial: 'layouts/base/style' %>
    
  </mj-head>
  <mj-body>

    <%= render partial: 'layouts/base/header' %>
   
    <mj-wrapper css-class="content">
      <%= yield %>
    </mj-wrapper>

    <%= render partial: 'layouts/base/social_networking' %>

  </mj-body>
</mjml>
